.bg-red{
  background-color: #DB4C3F!important;
  color: #fff!important;
  border-radius: 10px!important;
}
.tx-custom{
  color: #595959;
}
.tx-17{
  font-size: 17px;
}
.list-group-item-action{
  color:#12263F!important ;
}
.list-group-item.new.active{
  background-color: #EBEBEC!important;
  border-color: #EBEBEC;;
}
.icon-fill{
  fill: #595959;
  color: #fff!important;
}
.color-02{
 color: #3d3f42;
}
.potential-card{
  background: #E7EAF0!important;
}
.nav-tabs .nav-link.pot.active{
  background:#DB4C3F!important ;
  color: #fff;
  font-weight: 700;
}
.badge-green{
  background: #017D24;
  border-radius: 30px!important;
  color: #fff;
  font-weight: 400!important;
}
.btn-gray{
  background: #E4EAF2!important;
  color: #DB4C3F!important;
}
.badge-pending{
  background: #F5A700;
  border-radius: 30px!important;
  color: #000;
  font-weight: 400!important;

}
.btn-yes{
  background: rgba(1,125,115,1)!important;
  font-weight: 600;
  color: #fff!important;
}
.btn-no{
  background: rgba(189, 39, 30, 1)!important;
  font-weight: 600;
  color: #fff!important;
}
.large-avatar{
  width: 146px!important;
  height: 146px!important;
}
.media-body{
flex: 1;
}
.nav-tabs .nav-link.inner{
  padding: 0!important;
}