
*{
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
}
body { -webkit-font-smoothing: antialiased; }

.drop-zone {
  width: 100%;
  height: auto;
  border: 1px dashed #ddd;
  border-radius: 5px;
  position: relative;
  text-align: center;
  color: #666;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.form-drop{
  height: 100%;
}
.bg-warningg{
  background: rgba(249, 242, 227, 1)!important;
}
.wizard > .content > .title{
  color:#6E84A3!important;
  font-weight: 400!important;
  font-size: 14px!important;
}